@model uuregistration.ViewModels.UurRegistratieDetailsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="DetailsList">
    @Html.Partial("UurRegistratieDetailsLijstControl", Model.UurRegistratieDetails)
</div>
