@model uuregistration.ViewModels.KlantenIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="KlantenLijst">
    @Html.Partial("KlantenLijstControl", Model.Klanten)
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
